
.center {
    text-align: center;
}

.resumelistheadings {
    font-weight: bold;
    font-style: normal;
}


.aside {
  width: 20%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
  font-style: italic;
  font-size: medium;
  }

  .column {
    float:left;
    width: 33.33%;
    padding: 5px;
  }

  .row::after {
      content: "";
      clear: both;
      display: table;
  }

  .centervid {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .underline {
    text-decoration: underline;
  }

.color1 {
    background-color: #48BF91;
    color: white;
}
.color2 {
    background-color: #8BD9C7;
}
.color3 {
    background-color: #b2c7c7;
}

.color4 {
    background-color: #afdfed;
}

.color5 {
    background-color: #F18181;
}

.textcol1 {
    color: white;
}
.textcol2 {
    color: #8BD9C7;
}
.textcol3 {
    color: #F18181;
}
.textcol4 {
    color: #afdfed;
}
.textcol5 {
    color: #48BF91;
}

.textsml {
    font-size: small;
}

a:hover {
    color: #b2c7c7;
}

.disabled {
    pointer-events: none;
}

hr.solid {
    border-top: 3px solid #b2c7c7;
   
  }

  .ul {
    text-align: center;
    list-style: inside;
  }
